<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SWD-Attendance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
    <link href="~/css/the-big-picture.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon"  href="~/Style/img/logo.png">
    <style>
        /*footer {
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            float: left;
            clear: both;
            position: fixed;
        }*/

        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 10px;
            width: 10%;
            height: 40px;
            overflow: hidden;
            background-color: white;
        }

        #title {
            color: crimson;
        }


        .btn {
            background-color: #dc143c;
            color: white;
            border: 1px solid white;
        }

            .btn:hover {
                background: #dc143c;
            }
    </style>
</head>

<body>

    <div class="se-pre-con"></div>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" id="title" asp-action="Index"><strong>SWD-Attendance </strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Attendance" asp-action="Index">Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="trainee" asp-action="Index">Trainees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="manger" asp-action="Index">Mangers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="department" asp-action="Index">Departments</a>
                        </li>

                        @*<li class="nav-item">
                                <span class="nav-link text-dark">@ViewData["User"]</span>
                            </li>*@


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    @*<footer class="footerMain">
            <div class="container">
                 <strong style="color:white;">Copyright &copy; 2022 ELSEWEDY ELECTRIC.</strong>
                All rights reserved.
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/jquery.js"></script>
    <script>
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
        });
    </script>
    
</body>
<body style="background-color:whitesmoke">
</body>
</html>
